include ../../uikit/tile/tile-product
include ../../uikit/tile/tile-news
include ../../uikit/tile/tile-social
include ../../uikit/tile/tile-gallery
include ../../uikit/tile/tile-video
include ../../uikit/tile/tile-blog
main.page__productList
    .header-page__wrap
        ol.breadcrumb
            li
                a(href="#!") Каталог
            li
                a(href="#!") Воблеры
            li.active
                a(href="#!") Challenger X
        .header-page__container.productList__titleBlock
            h1.title__lg Challenger X
            .readmore-wrapper
                .tile__text.readmore-content
                    | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
                    | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
                    | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
                    | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
                    | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
                    | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
                    | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
                    | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
                    | Lorem ipsum quisque risus nulla massa commodo ultricies diam ut lorem arcu at sem amet et fusce molestie risus tellus metus adipiscing cursus sodales urna in sapien gravida porttitor lorem
                    | Lorem ipsum quisque risus nulla
                .readmore-button_wrapper
                    button.readmore-button.item-more.js-readmore_btn
                        | ПОДРОБНЕЕ
        
    .container-fluid
        .row
            .tile.tile--double(class=' col-4_8 col-lg-6 col-md-4 col-sm-6 ' data-tileid='2')
                .tile_content.tile-product_wrapper
                    a.tile-product(title="Jer-O Minnow")
                        span.tile-product_marker
                        .tile-product_image-wrapper
                            img.tile-product_image(src="http://cdn.strikepro.ru/article/0000750_0_headimage_thumbnail.png")
                        .tile-product_title
                            | Jer-O Minnow
                    ul.tile-product_group_list
                        - var n = 0;
                            while n < 6
                                li.tile-product_group_item
                                    a.tile-product_group_link(href='/')
                                        | Flex Phantom 90
                                - n++
            .tile(class='col-2_4 col-lg-3 col-md-4 col-sm-6')
                .tile_content.tile-product_wrapper
                    a.tile-product(title="Jer-O Minnow")
                        span.tile-product_marker
                        .tile-product_image-wrapper
                            img.tile-product_image(src="http://cdn.strikepro.ru/article/0000750_0_headimage_thumbnail.png")
                        .tile-product_title
                            | Jer-O Minnow
                    ul.tile-product_group_list
                        - var n = 0;
                            while n < 10
                                li.tile-product_group_item
                                    a.tile-product_group_link(href='/')
                                        | Flex Phantom 90
                                - n++

            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
            +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)

            .tile.col-2_4.col-lg-3.col-md-4.col-sm-6
                .tile_content
                    a.tile-product(title="Challenger X Deep Diver")
                        span.tile-product_marker
                        .tile-product_image-wrapper
                            img.tile-product_image(src="/image/productImg-3.png")
                        .tile-product_title
                            | Challenger X Deep Diver
