main.page__contact
    include breadcrumb   
    .container
        h1.title__lg Контакты
        .row
            .col-md-12.contact__col 
                h4.title__xs ООО "Страйк Про"
                p РФ, 196128, г. Санкт-Петербург, ул. Кузнецовская, д.13
                p пн. - пт. с 9 до 17 (по МСК)
                p +7 (921) 740 00 88
                a(href="mailto:sale@strikepro.ru") sale@strikepro.ru
        .row
            .col-md-4.contact__col
                p Если у вас есть вопросы о наших продуктах или услугах, воспользуйтесь формой обратной связи. Пожалуйста, заполняйте форму обратной связи как можно подробнее, чтобы мы могли наиболее эффективно помочь вам. Благодарим за ваши отзывы и предложения.
            .col-md-8.contact__form
                form.contact-form(action="#" role="form")
                    .form-group.col-md-12
                        label(for="inp_name") ФИО*
                        input(type="text" class="form-control" name="name")
                    .form-group.col-md-6
                        label(for="inp_email1") E-mail*
                        input(type="email" class="form-control" name="email")
                    .form-group.col-md-6
                        label(for="inp_tel") Телефон*
                        input(type="tel" class="form-control" name="telephone")
                    .form-group.col-md-12
                        label(for="inp_tel") Cообщение*
                        textarea(class="form-control" rows="3" name="message")
                    button.button-base.navbar-right(type="submit") ОТПРАВИТЬ