main.page__blogArticl
    include breadcrumb
    .container
        .row
            .col-xs-12
                .title__xs Фильтр записей
            .col-xs-12
                ul.nav.nav-tabs.location__tabs
                    li.active
                        a(href='#all' data-toggle='tab') Все
                    li
                        a(href='#smi' data-toggle='tab') СМИ о нас
                    li
                        a(href='#newsib' data-toggle='tab') Дружба с магазинами
                    li
                        a(href='#news' data-toggle='tab') Новости
                    li
                        a(href='#media' data-toggle='tab') Медиа
    .container-fluid
        ul.row.tile-list.blog-list
            - var n = 0;
                while n < 6
                    +tileBlog('tile', 1)
                    - n++


    .container
        .row.pagination__wrap
            ul.pagination
                li
                    a(href="#!") 1
                li.active
                    a(href="#!") 2
                li
                    a(href="#!") 3
                li
                    a(href="#!") 4
                li
                    a(href="#!") 5
                li
                    a(href="#!") ...
                li
                    a(href="#!") 17
        .row.more__wrap
            .more
                button.button-base Показать еще
