main.page__product      
    .product__wrapper
        include breadcrumb 
        .product
            .product__title
                h1 Supersonic
                span Challenger X
            .product__row
                .product__stand
                    .product__stand--loader
                    .product__stand--img
                        img.img_2d(src="http://via.placeholder.com/640x480/", alt="")
                //.product__action
                //    a(href="#!").button-base хочу купить
                //    span артикул: 1258-001
                //    span код товара: EG-124B #SM37F
            .product__rightSidebar
                .product__sliderImg
                    ul
                        li
                            a(href="http://via.placeholder.com/640x480/")
                                img(src="http://via.placeholder.com/640x480/", alt="smallImg")
                        li
                            a(href="http://via.placeholder.com/640x480/")
                                img(src="http://via.placeholder.com/640x480/", alt="smallImg")
                        li
                            a(href="http://via.placeholder.com/640x480/")
                                img(src="http://via.placeholder.com/640x480/", alt="smallImg")
                        li
                            a(href="http://via.placeholder.com/640x480/")
                                img(src="http://via.placeholder.com/640x480/", alt="smallImg")
                        li
                            a(href="http://via.placeholder.com/640x480/")
                                img(src="http://via.placeholder.com/640x480/", alt="smallImg")
                button.button-base.js-btn3D 3D

    include product-description
    include product-video