mixin tileVideo()
    li.tile.video
        .tile__img
            a.tile__video__cover.js__videoPopup(title="Jer-O Minnow" href="https://www.youtube.com/embed/-uzkjrEnI84")
                img(src="https://picsum.photos/300/300")
                .tile__video__control
                    .icon-youtube-play
        .tile__content
            .tile__date 20.06.2017
            a.tile__name Посмотрите это очень интересное видео
        a.tile__button.js__videoPopup(title="Jer-O Minnow" href="https://www.youtube.com/embed/-uzkjrEnI84") Смотреть
