mixin tileBlog()
    li.tile.news(href="#")
        .tile__img
            a(href="/blogArticl.html")
                img(src="/image/itemvideo-img2.jpg", alt="")
        .tile__content
            .tile__date 20.06.2017
            .tile__tag Тег
            a.tile__name(href="/blogArticl.html") Быть или не быть Tumbler Shad 13 в рыболовном арсенале? Ответ: быть!
            p.tile__text Эта силиконовая приманка попала ко мне в конце 2016. Тогда Tumbler Shad реально помог уйти от ну...
        a.tile__button(href="/blogArticl.html") Подробнее
