mixin tileProduct()
    li.tile.product
        .tile__img
            a(href="/product_4.html")
                img(src="https://strikepro.com/storage/cdn/product_images/9927959_0_headimage.png")
        .tile__content
            .tile__date 20.06.2017
            .tile__tag Тег
            a.tile__name(href="/product_4.html") SWIMMER 130F
        a.tile__button(href="/product_4.html") Подробнее
