.bg--dark {
    background-color: $color5;
}
.position--0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.page__aboutCompany {
    .title__md {
        margin-bottom: 35px;
    }
    .tile__text {
        padding-left: 20px;
        padding-right: 20px;
        @media(min-width: 980px) {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    .tile__wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .title__sm {
        margin-bottom: 25px;
    }
    .title__xs {
        margin-bottom: 40px;
    }
    .team__item {
        margin-bottom: 55px;
        .col-xs-6{
            @media(max-width: 425px) {
                width: 100% !important;
            }
        }
        img {
            margin-bottom: 30px;
            @media(min-width: 768px) {
                margin-bottom: 0;
            }
        }
        ul {
            padding-left: 30px;
        }
        li {
            list-style: disc;
        }
    }
    .team__wrapper {
        margin-top: 40px;
    }
    .about-content {
        p {
            margin-top: 0.6rem;
            margin-bottom: 1rem;
            color: #515151;
            font-family: "Roboto", serif;
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}
