.e404 {
    &__search {
        width: 70%;
        margin-top: 2rem;

        input {
            display: inline-block;
            width: 70%;
        }
    }

    @media(max-width: 768px) {
     &__search {
         width: 100%;
     }           
    }
}