.page__blogArticl {
    .title__md {
        margin-top: 20px;
    }
    .tile {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .more__wrap{
        @media(max-width: 767px){
            display: block !important;
        }
    }
}
.blog {
    &__articl {
        margin-bottom: 130px;
        .title__md {
            margin-bottom: 20px;
        }
        .row {
            margin-bottom: 30px;
        }
        p, span {
            color: #000!important;
        }
    }
    &__image-box {
        position: relative;
        width:100%;
        padding: 0px;
        padding: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin:20px 0px;
    }
    &__header {
        color: #515151;
        font-family: "Roboto", serif;
        font-style: normal;
        font-weight: 200;
        font-size: 2.5em;
        line-height: 3rem;
    }
    &__image {
        display: block;
        width:100%;
        height:auto;
        margin:0;
    }
    &__content {
        color: #515151;
        font-family: "Roboto", serif;
        font-style: normal;
        font-weight: 200;
        font-size: 1.2em;
        text-align: left;
    }
}
.socialBtn {
    &__wrap {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 15px;
        border: none;
        border-radius: 0;

        text-align: center;
        color: #fff;
        padding: 0;
        vertical-align: top;
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 44px;
            font-size: 17px;
        }
        &--vk{
            background-color: transparent;
        }
    }
    &__icon {
        width: 44px;
        height: 44px;
        border-right: 1px solid #fff;
        font-size: 22px;
    }
    &__desc {
        padding-left: 20px;
        padding-right: 20px;
    }
    &__num {
        height: 44px;
        background-color: $color5;
        color: #000;
        min-width: 44px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 12px;
            left: -11px;
            bottom: 0;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10.5px 11px 10.5px 0;
            border-color: transparent $color5 transparent transparent;
        }
    }
}
