main.page__product      
    .product__wrapper
        include breadcrumb 
        .product
            .product__title
                h1 Supersonic
                span Challenger X
            .product__row
                .product__stand
                    .product__stand--loader
                    .product__stand--img
                        img.img_2d(src="https://picsum.photos/640/480", alt="")
                        img(src="http://test.vostrel.net/jquery.reel/example/object-movie-non-looping-sequence/green/1.png" width="100%" height="100%"
                        id="reel-image"
                        style="display: none !important"
                        )
                //.product__action
                //    a(href="#!").button-base хочу купить
                //    span артикул: 1258-001
                //    span код товара: EG-124B #SM37F
            .product__rightSidebar
                .product__sliderImg
                    ul
                        li
                            a(href="https://picsum.photos/640/480")
                                img(src="https://picsum.photos/640/480", alt="smallImg")
                        li
                            a(href="https://picsum.photos/640/480")
                                img(src="https://picsum.photos/640/480", alt="smallImg")
                        li
                            a(href="https://picsum.photos/640/480")
                                img(src="https://picsum.photos/640/480", alt="smallImg")
                        li
                            a(href="https://picsum.photos/640/480")
                                img(src="https://picsum.photos/640/480", alt="smallImg")
                        li
                            a(href="https://picsum.photos/640/480")
                                img(src="https://picsum.photos/640/480", alt="smallImg")
                button.button-base.js-btn3D 3D

    include product-description
    include product_table
    include product-video
    include color_table

.colorTable__gallery--wrapper.js__popup
    .colorTable__gallery--popup.js__noPropagation
        button.close__popup.js__closePopup &#215;
        .colorTable__gallery--top
            .colorTable__gallery--content
                .colorTable__gallery--characteristics
                    ul.characteristics__list
                        li.characteristics__item
                            span.characteristics__title Модель:
                            span.characteristics__desc Aquamax Shad 50
                .colorTable__gallery--img
                    img(src="", alt="")
                .colorTable__gallery--title
            .colorTable__gallery--variation
                ul.variation__list
                    li.variation__item
                        img(src="", alt="" )
                    li.variation__item
                        img(src="", alt="" )
                    li.variation__item
                        img(src="", alt="" )
                    li.variation__item
                        img(src="", alt="" )
        .colorTable__gallery--bottom
            .colorTable__gallery--slider
                ul.slider__wrap
                    
            .colorTable__gallery--control
                button.left 
                    svg
                        use.caret__arrow(xlink:href="#svg_arrow")
                button.right
                    svg
                        use.caret__arrow(xlink:href="#svg_arrow")
.popUP__wrapper.js__popup(style="display: none")
                    .popUP__productImg.js__noPropagation
                        button.close__popup.js__closePopup ×
                        .popUP__productImg--wrap
                            img(src="", alt="")
//include article_data