.container-fluid.text-center
    h4.title__xs.text-center Вариации
    table.productTable-green
        thead
            th(data-id="59") Тип
            th(data-id="35") Длина
            th(data-id="17") Вес
        tbody 