#reel-image-reel {
  width: 100% !important;
  height: auto;

  img {
    width: 100%;
  }
}

.page__product {
  position: relative;
  h4.title__xs {
    margin: 20px auto;
    @media(min-width: 768px) {
      margin: 40px auto;
    }
  }
  .tile__text {
    padding: 30px 15px;
    @media(min-width: 768px) {
      padding: 60px 50px;
    }
  }
  .product {
    position: relative;
    &__title {
      span {

      }
    }

    &__desc {

      .tile__wrapper {
        float: none;
        margin-bottom: 30px;
        @media(min-width: 992px) {
          width: calc(50% - 60px);
          margin-right: 60px;
          float: left;
        }
      }
      .tile__text {
        display: block;
        text-align: left;
        padding: 0;
        overflow: hidden;
        position: relative;
        transition: all .225s;
        @media(min-width: 992px){
          display: inline;
        }
      }

    }

    &__wrapper {
      padding: 0 5% 50px;
      background-color: $color5;
      position: relative;
      z-index: 1;
      @media(min-width: 768px) {
        padding: 0 5% 20px;
      }
      @media(min-width: 1024px) {
        padding: 0 95px 50px;
      }
      .breadcrumb__wrap {
        margin-bottom: 10px;
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        margin-left: -15px;
        @media(min-width: 768px) {
          margin-bottom: 20px;
        }
        @media(min-width: 1024px) {
          margin-bottom: 50px;
        }
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: #fff;
        z-index: -1;
        @media(max-width: 767px) {
          width: 100%;
          height: 178px;
          left: 0;
          right: 0;
          bottom: 0;
        }
        @media(min-width: 768px) {
          width: 60%;
          height: 100%;
          top: 0;
          bottom: 0;
          right: -10%;
          transform: skew(-10deg);
        }
      }
    }

    &__title {
      h1 {
        font-size: 3rem;
        text-transform: uppercase;
        color: $color3;
        font-family: "OpenSans-Italic";
        margin-bottom: 1rem;
      }
      span {
        font-size: 1rem;
        font-weight: bold;
        opacity: 0.3;
      }

    }

    &__video-section {
      @media(min-width: 768px) {
        width: 80%;
      }
    }

    // Кнопка "Хочу купить"
    //&__action {
    //  background-color: #fff;
    //  padding-top: 15px;
    //  @media(min-width: 768px) {
    //    background-color: transparent;
    //    padding-top: 0;
    //    padding-left: 15px;
    //    padding-right: 15px;
    //    display: inline-block;
    //    vertical-align: bottom;
    //  }
    //  @media(min-width: 992px) {
    //    position: relative;
    //    width: 25%;
    //    right: 50%;
    //  }
    //  .button-base {
    //    display: block;
    //    font-size: 1.316rem;
    //    font-family: "OpenSans-Italic";
    //    text-align: center;
    //    left: 5px;
    //    margin-bottom: 20px;
    //    @media(min-width: 768px) {
    //      margin-bottom: 40px;
    //    }
    //  }
    //  span {
    //    display: block;
    //    color: lighten(#000, 50%);
    //    text-align: center;
    //    @media(min-width: 768px) {
    //      text-align: left;
    //    }
    //  }
    //}

    &__rightSidebar {
      width: 288px;
      padding: 10px 0;
      margin: 0 auto;
      overflow: hidden;
      @media(min-width: 768px) {
        position: absolute;
        padding: 10px;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);
        width: 93px;
      }
      .button-base {
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        @media(max-width: 767px) {
          position: absolute;
          top: 90px;
          right: 0px;
          left: inherit;
        }
      }
    }
    &__sliderImg {
      position: relative;
      padding-top: 30px;
      @media(min-width: 768px) {
        padding-top: 0;

        //&:after{
        //  content: '';
        //  position: absolute;
        //  bottom: 0;
        //  display: block;
        //  width: 100%;
        //  height: 20px;
        //  background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgb(66, 66, 66) 100%);
        //
        //}

      }
      ul {
        height: 85px;
        overflow: auto;
        width: 288px;
        position: relative;
        right: 0;
        font-size: 0;
        white-space: nowrap;
        @media(min-width: 768px) {
          height: 320px;
          width: 100px;
          
          //&:after{
          //  content: '';
          //  position: absolute;
          //  bottom: 0;
          //  display: block;
          //  width: 100%;
          //  height: 20px;
          //  background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgb(66, 66, 66) 100%);
          //
          //}
          
        }
        li {
          display: inline-block;
          @media(min-width: 768px) {
            display: block;
          }
          a {
            display: block;
            width: 73px;
            margin-right: 10px;
            background-color: #fff;

            @media(min-width: 768px) {
              margin-right: 0;
              margin-bottom: 10px;
              background-color: $color5;
            }
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
    &__stand {
      margin: 60px auto 0;
      @media(min-width: 768px) {
        position: relative;
        width: 65%;
        max-height: 700px;
        margin: 60px auto 30px;
        padding-left: 15px;
        padding-right: 15px;
      }

      &--img {
        opacity: 1;
        -webkit-transition: opacity 1s ease;
        -moz-transition: opacity 1s ease;
        transition: opacity 1s ease;
        max-width: 800px;
        width: 100%;
        max-height: 700px !important;
        margin: 0 auto;
        overflow: hidden;
        #image-reel {
          display: none;
          width: auto;
          height: auto;
        }
        img {
          max-height: 700px;
          max-width: 100%;
          margin: auto;
          width: auto;
        }
      }

      &--loader {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        pointer-events: none;

        &:after {
          opacity: 0;
          -webkit-transition: opacity 0.5s ease;
          -moz-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
          content: '';
          position: absolute;
          top: calc(50% - 25px);
          left: calc(50% - 25px);
          width: 50px;
          height: 50px;
          margin: 0 auto;
          border: 3px solid rgb(0,0,0);
          border-radius: 50%;
          border-left-color: transparent;
          border-right-color: transparent;
          animation: cssload-spin 575ms infinite linear;
          -o-animation: cssload-spin 575ms infinite linear;
          -ms-animation: cssload-spin 575ms infinite linear;
          -webkit-animation: cssload-spin 575ms infinite linear;
          -moz-animation: cssload-spin 575ms infinite linear;
        }
      }

      &.loading {
        .product__stand {
          &--img {
            opacity: 0;
            -webkit-transition: 0s;
            -moz-transition: 0s;
            transition: 0s;
          }
          &--loader:after {
            opacity: 1;
          }
        }
      }
    }
  }

  // new
  .productTable {
    padding-top: 60px;
    padding-bottom: 100px;
    &__wrap {
      font-size: 0;
      white-space: nowrap;
      min-height: 30px
    }
    &__title {
      width: 45%;
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      margin-right: 5%;
      font-size: 0.8rem;
      font-weight: bold;
    }
    &__desc {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      font-size: 0.8rem;

    }
  }

  .productTable-green {
    display: inline-block;
    width: auto;
    margin: auto;
    background: #f7f7f7;
    font-size: 0.9rem;
    margin-bottom: 2rem;

    thead {
      background: #73af19;
      color: white;

      th {
        padding: 0.5rem 1rem;
      }
    }

    tbody {

      td {
        padding: 0.2rem;
      }
    }
  }

}



.close__popup {
  background-color: transparent;
  border: none;
  color: #000;
  position: absolute;
  top: 10px;
  right: 8px;
  line-height: 15px;
  padding: 0;
  font-size: 40px;
}

.popUP__wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000000;
  &.active {
    display: block;
  }
}

.popUP__video {
  //max-width: 700px;
  //max-height: 420px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  padding: 30px;

  .close__popup {
    top: 8px;
    right: 8px;
    line-height: 15px;
    padding: 0;
    font-size: 30px;
  }
}

.popUP__productImg {
  max-width: 700px;
  max-height: 420px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  padding: 30px;
  &--wrap {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}





.product-models {
  &__wrapper {
    margin-bottom: 100px;
  }
  &__item {
    float:left;
    width: 50%;
  }
  &__image {
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
    img{
      display: block;
      width: 100%;
    }
  }
  &__title {
    font-size: 1.2rem;
    color:$color3;
    word-break: break-all;
  }
}




@import 'article-color-table';
@import 'readmore';