.container-fluid.text-center
    h4.title__xs.text-center Вариации
    table.productTable-green
        thead
            th(data-id="17") Вес
            th(data-id="52") Производитель крючка
            th(data-id="48") Номер крючка
        tbody 