main.page__product      
    .product__wrapper
        include breadcrumb 
        .product
            .product__title
                h1 Supersonic
                span Challenger X
            .product__row
                .product__stand.loading
                    .product__stand--loader
                    .product__stand--img
                        img.img_2d(src="https://images.unsplash.com/photo-1512221512480-6ce803030f1d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&h=600&fit=crop&ixid=eyJhcHBfaWQiOjF9", alt="")
                        img(src="http://test.vostrel.net/jquery.reel/example/object-movie-non-looping-sequence/green/1.png" width="100%" height="100%"
                        id="reel-image"
                        style="display: none !important"
                        )
                //.product__action
                //    a(href="#!").button-base хочу купить
                //    span артикул: 1258-001
                //    span код товара: EG-124B #SM37F
            .product__rightSidebar
                .product__sliderImg
                    ul
                        li
                            a(href="https://images.unsplash.com/photo-1512221512480-6ce803030f1d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&h=600&fit=crop&ixid=eyJhcHBfaWQiOjF9")
                                img(src="https://images.unsplash.com/photo-1512221512480-6ce803030f1d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&h=600&fit=crop&ixid=eyJhcHBfaWQiOjF9", alt="smallImg")
                        li
                            a(href="https://images.unsplash.com/photo-1473495178096-6bb5aa1289c0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&h=600&fit=crop&ixid=eyJhcHBfaWQiOjF9")
                                img(src="https://images.unsplash.com/photo-1473495178096-6bb5aa1289c0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&h=600&fit=crop&ixid=eyJhcHBfaWQiOjF9", alt="smallImg")
                        li
                            a(href="https://images.unsplash.com/photo-1533206922929-740b62a49abc?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&h=600&fit=crop&ixid=eyJhcHBfaWQiOjF9")
                                img(src="https://images.unsplash.com/photo-1533206922929-740b62a49abc?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&h=600&fit=crop&ixid=eyJhcHBfaWQiOjF9", alt="smallImg")
                button.button-base.js-btn3D 3D
    include product_table
    include product-description