.location {
    &__wrapper {
        min-height: 700px;
        position: relative;
    }
    &__tabs {
        margin-top: 20px;
        margin-bottom: 70px;

        li {
            display: inline-block;
            float: none;
            margin-right: 5px;
            margin-left: 5px;
        }
    }
    &__right {
        width: 100%;
        min-height: 700px;
        height: 700px;
        background-color: $color5;
        overflow: hidden;
        padding: 35px 15px 30px 15px;
        border-right: 4px solid #fff;
        @media(min-width: 768px) {
            width: 270px;
            float: left;
            overflow: auto;
            min-height: inherit;
        }
        @media(min-width: 1024px) {
            width: 350px;
            padding: 35px 20px 30px 20px;
        }
    }
    &__left {
        width: calc(100% - 270px);
        float: left;
        height: 700px;
        background-color: $color3;
        display: none;
        @media(min-width: 768px) {
            display: block;
        }
        @media(min-width: 1024px) {
            width: calc(100% - 350px);
        }
    }

    &__list {
        overflow: auto;
        display: none;
        &.active{
            display: block;
        }
    }
    &__item {
        margin-bottom: 35px;
        cursor: pointer;
        padding: 10px;
        &.active{
            background-color: darken($color5, 5%);
        }
    }
    &__text {
        font-size: 0.947rem;
        line-height: 1.368rem;
    }
    &__title {
        margin-bottom: 12px;
        span {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0  !important;
        }
        &-num {
            background-color: $color3;
            color: #fff;
            width: 32px;
            height: 34px;
            text-align: center;
            line-height: 34px;
            margin-right: 12px;
        }
    }

    &__select {
        border: 2px solid #73af19;
        height: 2.5rem;
        margin-bottom: 2rem;
    }
}
.more{
        display: block;
        margin-top: 40px;
        margin-bottom: 100px;
        .button-base {
	        display: block;
            margin: 0 auto;
        }
        @media(min-width: 768px) {

            display: none;
        }
    }

#GMap{
    width: 100%;
    height: 700px;
}

.yamap_point{
    font-size: 24px;
    display: block;
    text-align: center;
    width: 34px;
    height: 43px;
    line-height: 38px;
}

.type-tabs {
    li {
        display: inline-block;
        float: none;
        margin-right: 5px;
        margin-left: 5px;
    }
}
.type-tab-content {
    display: none;
    margin-bottom: 1rem;

    &.active {
        display: block;
    }
}
.city-choose {
    margin-top: 40px;
    margin-bottom: 0;
}

.location-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    margin-bottom: 40px;
    @media (max-width: 768px){
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }
}

.shop-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.23);
    border-radius: 8px;
    padding: 25px 40px;

    &.location-card {
        grid-template-columns: 2fr 1fr;
        text-align: left;
        @media (max-width: 768px){
            grid-template-columns: 1fr;
            text-align: center;
        }

        .location-card-link {
            text-align: right;
            @media (max-width: 768px){
                text-align: center;
            }
        }

        .city-name {
            color: $color3;
            margin-right: 10px;
            @media (max-width: 768px){
                display: block;
                margin: 5px 0;
            }
        }
    }

    &__info {}
    &__btn {
        display: grid;
        justify-content: right;
    }

    .title__sm, .bold {
        margin-bottom: 10px;
    }
    .bold {
        font-weight: 600;
    }
}

.location-picker {
    margin-top: 2rem;
    padding: .5rem 1rem;
    border: 1px solid white;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.23);
    width: auto;
    max-width: 90%;
}