main.page__contact
    include breadcrumb   
    .container
        h1.title__lg Запрашиваемая страница не найдена
        .row
            .col-md-12
                p Извините, мы не смогли найти информацию, которую Вы запрашиваете. Вы можете воспользоваться поиском по сайту, чтобы уточнить Ваш запрос.
                form.e404__search(action="http://alex.taran.ru/search" method="get" )
                    .e404__search--mobile
                        div.form-group.form-group-noWrap
                            input( type="search" class="form-control js__search" placeholder="Искать...")
                            button.button-base.icon-search( type="submit") 
                