include ../../uikit/tile/tile-product
include ../../uikit/tile/tile-news
include ../../uikit/tile/tile-social
include ../../uikit/tile/tile-gallery
include ../../uikit/tile/tile-video
include ../../uikit/tile/tile-blog
main.page__searchingResults
    include breadcrumb   
    .container
        h1.title__lg Результаты поиска
        .prompt 
            | По запросу 
            a(href="#!") «воблеры» 
            |найдено 3 товара из каталога и 35 статей
    .container
        .title__sm Каталог
        +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
        +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
        +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
        +tileProduct('col-2_4 col-lg-3 col-md-4 col-sm-6 ', 1)
    .container
        .title__sm Блог
        ul.row.tile-list.blog-list
            - var n = 0;
                while n < 4
                    li.tile__wrapper.col-md-4.col-sm-4.col-xs-6
                        .tile.news
                            img.blog-list__bg(src="/image/itemvideo-img2.jpg", alt="")
                            .tile-content
                                .tile__data 20.06.2017
                                .title__xs Быть или не быть Tumbler Shad 13 в рыболовном арсенале? Ответ: быть!
                                p Эта силиконовая приманка попала ко мне в конце 2016. Тогда Tumbler Shad реально помог уйти от ну...
                                a.button-base(href="/blogArticl.html") Подробнее
                    - n++
    .container
        .row.pagination__wrap
            ul.pagination
                li
                    a(href="#!") 1
                li.active
                    a(href="#!") 2
                li
                    a(href="#!") 3
                li
                    a(href="#!") 4
                li
                    a(href="#!") 5
                li
                    a(href="#!") ...
                li
                    a(href="#!") 17
        .row.more__wrap
            .more
                button.button-base Показать еще