* {
  box-sizing: border-box;
}

.tile-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 28px;
  grid-row-gap: 32px;
  margin: 80px 0;
  @media screen and (max-width: 1024px){
    grid-template-columns: repeat(1, 1fr);
  }
  &-four {
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 1024px){
      grid-template-columns: repeat(1, 1fr);
    }
    .tile__img {
      height: 200px!important;
      margin: 0!important;
      img {
        object-fit: contain!important;
      }
    }
  }
}

.tile {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  display: grid;
  grid-template-rows: max-content;
  transition: transform 0.3s;
  &__img {
    height: 250px;
    overflow: hidden;
    margin-bottom: 24px;
    img {
      height: 100%;
      object-fit: contain;
      border-radius: 8px 8px 0 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.23);
    }
  }
  &.store {
    .tile__img {
      margin: 5px 15px;
    }
  }
  &__date {
    display: inline-block;
    text-align: left;
    margin-left: 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: $color3;
  }
  &__tag {
    display: inline-block;
    float: right;
    margin-right: 16px;
    background: #C4C4C4;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #fff;
    padding: 0px 16px;
  }
  &__name {
    margin-top: 8px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: #000000;
    padding: 16px;
    display: block;
  }
  &__text {
    padding: 16px;
  }
  &__button {
    padding: 16px;
    display: block;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: $color3;
    align-self: end;
  }
  &__video__cover {
    display: block;
    height: 100%;
  }
  &__video__control {
    position: relative;
    bottom: calc(50% + 1.5rem);
    text-align: center;
    color: #fff;
    font-size: 3rem;
  }
  &:hover {
    transform: scale(1.05);
    .tile__name {
      color: $color3;
    }
  }
}

ul.products {
  margin-left: 16px;
  margin-bottom: 20px;
}

