include ../../uikit/tile/tile-product
include ../../uikit/tile/tile-news
include ../../uikit/tile/tile-social
include ../../uikit/tile/tile-gallery
include ../../uikit/tile/tile-video
include ../../uikit/tile/tile-blog
main.mainContent.mainContent__index#mainContent
    .container-fluid
        .tile-list
            +tileBlog()
            +tileBlog()
            +tileProduct()
            +tileVideo()
            +tileVideo()
            +tileProduct()
            +tileBlog()
            +tileProduct()
            +tileBlog()
            +tileBlog()
