doctype html
html
    head
        include partials/head
    body               
        .wrapper
            header.header
                include partials/header        
            include pages/404/main
        include partials/footer  
        include partials/script          
