doctype html
html
    head
        include partials/head
    body
        .wrapper
            header.header
                include partials/header
            include uikit/tile/tile-blog
            include pages/blog/blog
        include partials/footer
        include partials/script
