doctype html
html
    head
        include partials/head
    body               
        .wrapper
            header.header
                include partials/header                       
            include pages/product-fittings/product
        include partials/footer  
        include partials/script
        script(src='js/articlesMock.js')
        script(src='js/jquery.panzoom.min.js')
        script(src='js/productSlider.js')
        script(src='js/readmore.js')