doctype html
html
    head
        include partials/head
    body               
        .wrapper
            header.header
                include partials/header                       
            include pages/product-article/product-article
        include partials/footer  
        include partials/script   
        script(src='js/articlesMock.js')
        script(src='js/jquery.panzoom.min.js')
        script(src='js/productSlider.js')
        script(src='js/readmore.js')