main.page__product      
    .product__wrapper
        include breadcrumb 
        .product
            .product__title
                h1 STRIKE PRO CHALLENGER 150
                span subtitle
            .product__row
                .product__stand
                    .product__stand--loader
                    .product__stand--img
                        img.img_2d(src="https://picsum.photos/640/480", alt="")
                        img(src="http://test.vostrel.net/jquery.reel/example/object-movie-non-looping-sequence/green/1.png" width="100%" height="100%"
                        id="reel-image"
                        style="display: none !important"
                        )
            .product__rightSidebar
                .product__sliderImg
                    ul
                        li
                            a(href="https://picsum.photos/640/480")
                                img(src="https://picsum.photos/640/480", alt="smallImg")
                        li
                            a(href="https://picsum.photos/640/480")
                                img(src="https://picsum.photos/640/480", alt="smallImg")
                        li
                            a(href="https://picsum.photos/640/480")
                                img(src="https://picsum.photos/640/480", alt="smallImg")
                        li
                            a(href="https://picsum.photos/640/480")
                                img(src="https://picsum.photos/640/480", alt="smallImg")
                        li
                            a(href="https://picsum.photos/640/480")
                                img(src="https://picsum.photos/640/480", alt="smallImg")
                button.button-base.js-btn3D 3D

    include product_table
    include product_variations