.container-fluid.text-center
    h4.title__xs.text-center Вариации
    table.productTable-green
        thead
            th(data-id="34") Диаметр
            th(data-id="54") Тест
            th(data-id="45") Длина
        tbody 