main.page__aboutCompany
    include breadcrumb
    include strike-shop
    .container
        include type-tabs
    .type-tab-content.active(data-id="1")
        .container-fluid
            .row
                .tile(class="col-2_4 col-lg-3 col-md-4 col-sm-6 " data-tileid="1")
                    .tile_content
                        a.tile-product.tile-market(target="_blank" href="https://example.com")
                            .tile-product_image-wrapper
                                img.tile-product_image(src="http://localhost:8080/image/logo.png")
                            .tile-product_title
                                | Shop Name
                .tile(class="col-2_4 col-lg-3 col-md-4 col-sm-6 " data-tileid="1")
                    .tile_content
                        a.tile-product.tile-market(target="_blank" href="https://example.com")
                            .tile-product_image-wrapper
                                img.tile-product_image(src="http://localhost:8080/image/logo.png")
                            .tile-product_title
                                | Shop Name
                .tile(class="col-2_4 col-lg-3 col-md-4 col-sm-6 " data-tileid="1")
                    .tile_content
                        a.tile-product.tile-market(target="_blank" href="https://example.com")
                            .tile-product_image-wrapper
                                img.tile-product_image(src="http://localhost:8080/image/logo.png")
                            .tile-product_title
                                | Shop Name
                .tile(class="col-2_4 col-lg-3 col-md-4 col-sm-6 " data-tileid="1")
                    .tile_content
                        a.tile-product.tile-market(target="_blank" href="https://example.com")
                            .tile-product_image-wrapper
                                img.tile-product_image(src="http://localhost:8080/image/logo.png")
                            .tile-product_title
                                | Shop Name
                .tile(class="col-2_4 col-lg-3 col-md-4 col-sm-6 " data-tileid="1")
                    .tile_content
                        a.tile-product.tile-market(target="_blank" href="https://example.com")
                            .tile-product_image-wrapper
                                img.tile-product_image(src="http://localhost:8080/image/logo.png")
                            .tile-product_title
                                | Shop Name
    .type-tab-content(data-id="2")
        .container.text-center
            include map
