.row
    .col-xs-12.col-md-12
        select.location-picker
            option(value="") Все города
            option(value="Город") Город
            option(value="Пустота") Пустота

.row
    .col-xs-12.col-md-12
        .location-cards
            - var n = 0
            while n < 6
                .shop-card.location-card(data-city="Город")
                    div
                        p.bold Бондаревич К.С.
                        p
                            span.city-name Город
                            span 184209, Мурманская обл, Апатиты г, Строителей ул, дом № 75
                    div.location-card-link
                        a.button-base(target="_blank" href="#") Перейти на сайт
                - n++