//ul.nav.nav-tabs.location__tabs
    li.active
        a(href='#Moscow' data-tabID="1") Москва
    li
        a(href='#Spb' data-tabID="2") Санкт-Петербург
    li
        a(href='#Novosibirsk' data-tabID="3") Новосибирск	
    li
        a(href='#Kazan' data-tabID="4") Казань	
    li
        a(href='#Samara' data-tabID="5") Самара	
    
select.location__select
    option(value="1" data-city="#Moscow") Москва
    option(value="2" data-city="#Spb") Санкт-Петербург
    option(value="3" data-city="#Novosibirsk") Новосибирск
    option(value="4" data-city="#Kazan") Казань
    option(value="5" data-city="#Samara") Самара

//-onclick="codeAddress(Location.Moscow.stores)"
//-onclick="codeAddress(Location.Spb.stores)"