.container
    .row
        .col-xs-12.col-md-8.col-md-offset-2
            .shop-card
                .shop-card__info
                    p.title__sm Strike Pro Shop
                    p Покупайте онлайн!
                .shop-card__btn
                    a.button-base(href="#") Перейти
