svg(style="display: none")
    symbol#svg_arrow
        polyline( points="0,0 7,7 15,0" fill="rgba(249,249,249, 0)" stroke-width="2")

.header__top
    nav
        .container-fluid
            .row
                .header__logo
                    a(href='/index.html') Brand
                        img(src="/image/logo.png", alt="")

                ul.headerNav__list
                    img.headerNav__fish(src="/image/fish.svg")
                    li.headerNav__item
                        .headerNav__link__bg
                            a.headerNav__link(href='/aboutCompany.html') О компании
                    li.headerNav__item.custom-menu__btn
                        .headerNav__link__bg
                            a.headerNav__link(href='/productList.html') Каталог
                                span.caret
                                    svg
                                        use.caret__arrow(xlink:href="#svg_arrow")
                        .dropdown__menu.custom-menu__wrapper
                            .custom-menu__container.container-fluid
                                .row
                                    .col-xs-12.col-md-9
                                        - var i = 0;
                                        while i < 2
                                            .custom-menu__headings
                                                .row
                                                    a.col-md-4(href="#") Заголовок 1
                                                    a.col-md-4(href="#") Заголовок 2
                                                    a.col-md-4(href="#") Заголовок 3
                                            .row
                                                - var n = 0;
                                                while n < 3
                                                    .col-md-4
                                                        - var k = 0
                                                        while k < 6
                                                            a.custom-menu__item(href="/product_4.html") Продукт
                                                            - k++
                                                        a.custom-menu__more(href="/productList.html") Больше продуктов
                                                    - n++
                                            - i++
                                    .col-xs-12.col-md-2.col-md-offset-1
                                        .custom-menu__side
                                            - var i = 0;
                                                while i < 2
                                                    p.custom-menu__side__title Заголовок
                                                    - var n = 0;
                                                    while n < 5
                                                        a.custom-menu__side__item(href="/product_4.html") Продукт
                                                        - n++
                                                    .custom-menu__side__sep
                                                    - i++
                    li.headerNav__item
                        .headerNav__link__bg
                            a.headerNav__link(href='#!') Где купить
                    li.headerNav__item
                        .headerNav__link__bg
                            a.headerNav__link(href='/blog.html') Блог
                                span.caret
                                    svg(xmlns="http://www.w3.org/2000/svg" width="15" height="7"  )
                                        use.caret__arrow(xlink:href="#svg_arrow")
                        ul.dropdown__menu
                            li
                                a(href='/blog.html') item 1
                            li
                                a(href='/blog.html') item 2
                            li
                                a(href='/blog.html') item 3
                    li.headerNav__item
                        .headerNav__link__bg
                            a.headerNav__link(href='#!') Контакты

                button.headerNav__toggle(type='button') &#9776;

                form.header__search(action="http://alex.taran.ru/search" method="get")
                    div.form-group.form-group-noWrap
                        input( type="search" class="form-control js__search" placeholder="Искать..." required )
                    button.header__search--btn.btn.icon-search(type='submit') Submit

include header-product
