script.
    window.ajax_url = {
        ajaxSubmitSunscribeUrl: 'http://strike-pro.loc/subscribe',
        autocompleteServerUrl: "http://localhost/search/auto_complete"
    }

    window.real3DConfig = {
        images: "http://test.vostrel.net/jquery.reel/example/object-movie-clockwise-sequence/drone/#####.png|1..179|5"
    }

    window.yandexMap_config = {
        iconImageHref: 'image/marker_YMAP.png',
        iconImageHoverHref: 'image/marker_YMAP-hover.png',
        iconImageSize: [36, 43],
        iconImageOffset: [-10, -10]
    }

script.
    window.tile_cap_list = {
        facebook: '<li data-tileid="1" class="tile__wrapper col-2_4 col-md-3 col-sm-4 col-xs-6"><a href="#!" class="tile social"><div class="title__sm">присоединяйтесь к нам</div><div class="social__text">Подписались 754 человека</div><div class="social__icon icon-facebook"></div></a></li>',
        vk: '<li data-tileid="1" class="tile__wrapper col-2_4 col-md-3 col-sm-4 col-xs-6"><a href="#!" class="tile social"><div class="title__sm">присоединяйтесь к нам</div><div class="social__text">Подписались 754 человека</div><div class="social__icon icon-vk"></div></a></li>'

    }

script(src='js/lodash.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='js/jquery-ui.min.js')
script(src='js/jquery.ba-throttle-debounce.min.js')
script(src='js/bootstrap.min.js')
script(src='owl/owl.carousel.min.js')
script(src='js/swiper.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src="http://code.vostrel.cz/jquery.reel.js")
script(src='https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js')

script(src='js/index.js')
