.header__slider
    .owl-carousel
        div
            .overlay
            video.bg(loop="" muted="" autoplay="")
                source(src="https://cdn.strikepro.ru/upload/video/show720.mp4" type="video/mp4")
                source(src="https://cdn.strikepro.ru/upload/video/show720.webm" type="video/webm")
                source(src="https://cdn.strikepro.ru/upload/video/show720.ogv" type="video/ogg")
                | Video not supported.
            .header__slider__content
                .container
                    .layout-model.row
                        .col-xs-12.col-md-6
                            p.header__slider__title Красивый заголовок
                            p.header__slider__desc
                                | Since 1973 Strike Pro has continually evolved by paying particular attention to their five main criteria - Professionalism, Creativity, Responsibility, Sincerity, and above all - a PASSION for fishing.
                            a.header__slider__btn(href="#") Узнать больше
                        .col-xs-12.col-md-6
                            p.header__slider__over Модель:
                            p.header__slider__name FINESSE WALKING STICK 103
                            img.header__slider__model(src="https://strikepro.com/storage/cdn/product_images/0001195_0_headimage.png")
                            p.header__slider__sub Lorem ipsum dolor sit amet
        div
            .overlay
            img.bg(src="/image/placehold.jpg")
            .header__slider__content
                .container
                    .layout-single.row
                        .col-xs-12
                            p.header__slider__title Красивый заголовок
                            p.header__slider__desc
                                | Since 1973 Strike Pro has continually evolved by paying particular attention to their five main criteria - Professionalism, Creativity, Responsibility, Sincerity, and above all - a PASSION for fishing.
                            a.header__slider__btn(href="#") Узнать больше
    .header__slider__controls
        .arrow-prev
            img(src="/image/scroll.svg")
            span Prev
        .arrow-next
            span Next
            img(src="/image/scroll.svg")
    a.moveDown(href="#mainContent")
        .arrow-text Scroll
        .arrow-small
            img(src="/image/scroll.svg")
        .arrow-big
            img(src="/image/scroll.svg")
