.container-fluid.text-center
    h4.title__xs.text-center Вариации товара
    table.productTable-green
        thead
            th(data-id="42") Материал
            th(data-id="35") Длина
            th(data-id="54") Разрывная нагрузка
            th(data-id="51") Плетение волокон
            th(data-id="58") Застёжка
        tbody 
