.footer {
  &__top {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 1024px){
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 30px;
    }
  }
  &__col {
    &Title {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: $color3;
      text-transform: uppercase;
      margin-bottom: 24px;
    }
  }
  &__menuLink {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }
  &__socialList {
    margin-top: 26px;
    @media screen and (max-width: 1024px) {
      text-align: center;
    }
  }
  &__socialItem {
    display: inline-block;
    zoom: 1.25;
    margin-right: 10px;
    a:hover, a:focus {
      color: $color3;
      text-decoration: none;
    }
  }

  .subscription-form {
    input {
      border: 1px solid #BEBEBE;
      box-sizing: border-box;
      border-radius: 4px;
      background: #fff;
    }
    .gradient-button {
      background: linear-gradient(77.67deg, #73AF19 3.58%, #91C840 90.83%);
      border: none;
      transform: skew(-30deg);
      color: #fff;
      position: relative;
      height: 48px;
      right: 21px;
      padding: 0 18px;
      vertical-align: middle;
      span {
        transform: skew(30deg);
        display: block;
      }
    }
    @media screen and (max-width: 1024px){
      text-align: center;
      .gradient-button {
        position: initial;
        margin-top: 20px;
      }
    }
  }

  .copyright {
    margin: 45px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 33px;
    text-align: center;
    color: $color3;
  }
}
