.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 111;
  @media screen and (max-width: 1024px) {
    pointer-events: none;
  }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  &__top {
    background-color: $color3;
    position: relative;
    transition: all .2s ease-in-out;
    left: 0;
    box-shadow: 0 3px 5px -3px rgba(0,0,0,0.5);
    &.nav__active {
      left: -270px;
    }
    @media(max-width:1024px){
      background-color: transparent;
      box-shadow: none;
    }
    @media(min-width:1024px){
      height: 70px;
    }
  }
  &__logo {
    float: left;
    font-size: 0;
    line-height: 0;
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    margin-right: 15px;
    height: 60px;
    @media(max-width: 1024px) {
      display: none;
    }
    @media(min-width: 1024px) {
      height: 70px;
    }
    img {
      display: block;
      width: auto;
      height: 100%;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: -30px;
      background-color: #fff;
      transform: skew(-30deg);
      z-index: -1;
    }
  }
  &__search {
    float: right;
    margin: 7px 0;
    transform: skew(-30deg);
    background-color: transparent;
    transition: background-color 0.5s;
    position: relative;
    right: 15px;
    &.active {
      background-color: #3f6506;
    }
    @media(max-width: 1024px) {
      display: none;
    }
    @media(min-width: 1024px) {
      margin: 12px 15px;
    }
    .form-group {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      padding: 7px 10px;
      background: $color5;

      transition: opacity 0.5s;
      opacity: 0;
      pointer-events: none;
    }
    input[type="search"] {
      background-color: $color5;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: $color3;
      height: auto;
      transform: skew(30deg);
      transition: opacity 0.5s;
      opacity: 0;
      pointer-events: none;
      display: none;
      @media(min-width: 1180px) {
        display: block;
      }
      &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
        color: $color3;
      }
      &:focus::-webkit-input-placeholder, &:focus::-moz-placeholder, &:focus:-moz-placeholder, &:focus:-ms-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }
    &.active .form-group, &.active input[type="search"] {
      opacity: 1;
      pointer-events: all;
    }
    button[type='submit'] {
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: #fff;
      font-size: 0;
      display: inline-block;
      vertical-align: middle;
      transform: skew(30deg);
      &:before {
        font-size: 29px;
      }
    }
  }
}

.header-product {
  position: fixed;
  top: -150px;
  left: 0;
  right: 0;
  z-index: 112;
  background-color: #73af19;
  transition: all .225s;
  $fsize: 0.8rem;
  box-shadow: 0 3px 5px -3px rgba(0,0,0,0.5);
  @media(max-width: 1023px) {
    display: none !important;

  }

  &__image {
    @extend .header__logo;
    float: none;
    display: inline-block;
    vertical-align: middle;
    height: 60px;
  }

  &__title {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-style: italic;
    font-size: $fsize;
    max-width: 25rem;
    line-height: 1.2rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
  &__nav {
    display: inline-block;
    vertical-align: middle;
    float: none !important;
    overflow: inherit;
    .headerNav__link {
      font-size: $fsize;
    }
    padding: 0 !important;
  }

  &__item {
    position: relative;
    display: inline-block;
    &:hover, &.active {
      .header-product__link {
        background-color: #fff;
        color: $color1;
      }
    }
  }
  &__link {
    color: #fff;
    padding: 15px 10px;
    text-transform: uppercase;
    height: 60px;
    display: block;
    font-size: $fsize;
    line-height: 30px;
  }

}

.headerNav {
  &__list {
    transition: all .2s ease-in-out;
    @media(max-width: 1024px){
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
      position: fixed;
      height: 100vh;
      width: 100vw;
      overflow: auto;
      padding: 0;
      background: linear-gradient(87.63deg, #73AF19 3.58%, #91C840 90.83%);
      z-index: 99999;
      overflow-y:scroll;
      overflow-x:hidden;
      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }
    @media(min-width: 1024px) {
      position: static;
      right: auto;
      float: left;
      height: auto;
      width: auto;
      overflow: inherit;
      padding: 10px 0;
      margin-left: 50px;
      background-color: $color3;
    }
  }
  &__fish {
    width: 42px;
    height: 42px;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 40px;
    @media screen and (min-width:1024px) {
      display: none;
    }
  }
  &__item {
    display: block;
    position: relative;
    .dropdown__menu {
      width: 100%;
      display: none;
      background-color: #fff;
      padding: 0 20px 15px;
      @media(min-width: 1024px) {
        position: absolute;
        top: auto;
        left: -14px;
        padding: 15px 20px;
        min-width: 220px;
        box-shadow: 0 5px 5px -3px rgba(0,0,0,0.5);
      }
      li {
        & > a {
          color: $color1;
          &:hover {
            color: $color3;
          }
        }
      }
    }
    @media(max-width: 1024px) {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      text-align: center;
      color: #FFFFFF;
      .dropdown__menu {
        display: block;
        height: auto;
        max-height: 0;
        transition: max-height 0.2s;
        overflow: hidden;
        padding: 0;
        background: transparent;

      }
      .headerNav__link {
        color: #fff;
        opacity: 1;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        &:hover {
          color: #fff;
        }
      }
      &.open {
        .dropdown__menu {
          max-height: 500px;
          padding: 20px 0;
        }
        svg {
          transform: rotate(180deg);
        }
      }
    }
    @media(min-width: 1024px) {
      display: inline-block;
      .headerNav__link {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.7;
        transition: opacity 0.3s ease;
        transform: skew(30deg);
        &__bg {
          background-color: transparent;

          transform: skew(-30deg);
        }
      }
      &:hover, &.active {
        .headerNav__link {
          color: $color3;
          opacity: 1;
          &__bg {
            background-color: #fff;
          }
        }
        .dropdown__menu {
          display: block;
        }
        svg {
          transform: rotate(180deg);
        }
        .caret__arrow {
          stroke: $color3 !important;
        }
      }
    }
  }
  &__link {
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    height: 50px;
    display: block;
    font-size: 1.211rem;
    .caret {
      border: none;
      background-color: transparent;
      width: auto;
      height: auto;
      vertical-align: inherit;

      position: relative;
      left: 5px;
      top: -3px;
      svg {
        width: 15px;
        height: 8px;
        transition: all .2s;
        .caret__arrow {
          stroke: rgb(250, 250, 250);
        }
      }
    }
  }
}

.custom-menu {
  &__btn {
    position: static;
  }
  &__wrapper {
    left: 0;
    right: 0;
    overflow: visible;
    @media(min-width: 1024px) {
      max-height: calc(100vh - 60px);
      height: 100vh;
      width: 100vw !important;
      margin: 0 auto;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 40px !important;
    }
    @media(max-width: 992px) {
      .container {
        width: auto;
        padding: 0;
      }
    }
    a {
      display: block;
    }
  }

  &__container {
    padding: 0 !important;
  }

  &__headings {
    @media(min-width:1024px) {
      position: relative;
      left: -60px;
      transform: skew(-30deg);
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
      background-color: $color3;
      margin-bottom: 24px;
      padding: 4px 0px;
      color: #fff;
      .row {
        a {
          padding-left: 75px;
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 27px;
          color: #fff;
          &:hover {
            color: #f7f7f7;
          }
        }
        transform: skew(30deg);
      }
    }
  }

  &__item, &__side__item {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: rgba(24, 24, 24, 0.5);
    transition: color 0.3s;
    &:before {
      position: relative;
      top: -1px;
      content: '|';
      color: #8C8C8C;
      margin-right: 6px;
    }
    &:hover {
      color: $color3;
      &:before {
        color: $color3;
      }
    }
    @media(max-width: 1024px){
      display: none!important;
    }
  }

  &__side {
    &__title {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: $color3;
      padding: 4px 0px;
      margin-bottom: 24px;
      @media(max-width: 1024px){
        display: none!important;
      }
    }
    &__sep {
      margin-bottom: 39px;
      @media(max-width: 1024px){
        display: none!important;
      }
    }
  }

  &__more {
    margin-top: 16px;
    margin-bottom: 43px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: $color3;
    @media(max-width: 1024px){
      display: none!important;
    }
  }
}

@media(max-width:1024px) {
  .custom-menu__headings a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
}

.item-more {

  position: sticky;
  border: none !important;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
  @extend .button-base;

  &:hover {
    border-color: transparent;
  }
}

.headerNav__toggle {
  background-color: transparent;
  border: none;
  color: $color3;
  font-weight: bold;
  font-size: 35px;
  float: right;
  margin: 15px 10px;
  outline: none;
  position: relative;
  top: 1px;
  right: 10px;
  @media screen and (min-width: 1024px) {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    pointer-events: all;
  }
}

.header__slider {
  max-height: calc(100vh - 70px);
  overflow: hidden;
  position: relative;
  display: block;
  transition: height 0.4s;
  @media screen and (min-width: 1024px){
    height: auto!important;
  }
  @media screen and (max-width: 1024px){
    min-height: 100vh;
    max-height: none;
    height: auto;
    .owl-carousel, .owl-stage-outer, .owl-stage, .owl-item, .owl-item>div, img.bg, video.bg {
      height: 100%;
      overflow: visible;
    }
    img.bg, video.bg {
      object-fit: cover;
    }
  }
  .overlay {
    opacity: 0.8;
    background: #fff;
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__controls {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    @media screen and (max-width: 1024px) {
      display: none;
    }
    div {
      cursor: pointer;
      position: absolute;
      top: calc(50% - 20px);
      pointer-events: all;
      opacity: 1;
      transition: opacity 0.3s;
      img {
        display: inline-block;
        height: 27px;
        width: 56px;
      }
      span {
        text-transform: uppercase;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: $color3;
      }
      &.arrow-prev {
        left: 30px;
        img {
          transform: rotate(90deg);
        }
        span {
          left: -12px;
        }
      }
      &.arrow-next {
        right: 30px;
        img {
          transform: rotate(-90deg);
        }
        span {
          left: 12px;
        }
      }
      &.hide {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  &__content {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1024px) {
      display: block;
    }
    .layout-model, .layout-single {
      display: flex;
      align-items: center;
      @media screen and (max-width: 1024px) {
        display: block;
        padding: 120px 0;
        div {
          margin-bottom: 80px;
          text-align: center;
        }
      }
      padding-bottom: 60px;
      .header__slider {
        &__title {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 60px;
          line-height: 60px;
          color: $color3;
          margin-bottom: 24px;
        }
        &__desc {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 27px;
          color: #181818;
          margin-bottom: 48px;
        }
        &__btn {
          background: $color3;
          border-radius: 8px;
          color: #fff;
          padding: 10px 20px;
        }
        &__over {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: rgba(24, 24, 24, 0.8);
        }
        &__name {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 44px;
          color: #73AF19;
        }
        &__sub {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 19px;
          line-height: 26px;
          color: rgba(24, 24, 24, 0.8);
          opacity: 0.8;
        }
      }
    }
    .layout-single {
      padding-bottom: 100px;
      text-align: center;
    }
  }
  .moveDown {
    position: absolute;
    z-index: 6;
    bottom: 50px;
    left: calc(50% - 25px);
    display: block;
    width: 50px;
    height: 50px;
    animation: bounce 1s infinite cubic-bezier(0.4, 0, 1, 1);
    opacity: 0.8;
    @media screen and (max-width: 1024px) {
      display: none;
    }
    .arrow {
      &-text {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #73af19;
        transform: rotate(-90deg);
        position: relative;
        top: -20px;
        text-transform: uppercase;
      }
      &-small {
        display: block;
        img {
          width: 70%;
          margin: auto;
          position: relative;
          top: 10px;
        }
      }
      &-big {
        display: block;
      }
    }
    @media screen and (max-width: 768px){
        display: none;
    }
  }
  video {
    width: 100%;
  }
}

@keyframes bounce {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -20%);
  }
  to {
    transform: translate(0, 0%);
  }
}

.ui-autocomplete {
  z-index: 100000;
  // display: block !important;
  background-color: white !important;
  border: none !important;
  color: $color3;
  top: 75px!important;
  left: initial!important;
  right: 5px!important;
  box-shadow: -1px 1px 6px 1px rgba(0, 0, 0, 0.25);
  .ui-menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: .5px solid #ccc;
    &:hover {
      border-bottom: .5px solid transparent;
      background: $color3;
    }
    .autocompleteItem {
      &__img {
        display: inline-block;
        vertical-align: middle;
        width: 64px;
        max-width: 64px;
        max-height: 64px;
        overflow: hidden;
        padding: 0;
        margin-right: 10px;
        img {
          display: block;
          width: 100%;
          max-width: 100%;
          max-height: 100%;
        }
      }
      &__title {
        display: inline-block;
        vertical-align: middle;
        font-size: .8rem;
        line-height: normal;
      }
    }
  }
}

.ui-state-active {
  border: none !important;
  background: transparent !important;
  font-weight: normal;
  color: #fff;
}





